{
  "rules": {
    "indent": [2, 2, { "SwitchCase": 1 }],
    "quotes": [2, "single"],
    "linebreak-style": [2, "unix"],
    "semi": [2, "always"],
    "comma-style": [2, "last"],
    "no-console": [1],
    "no-unused-vars": [1],
  },
  "ecmaFeatures": {
    "modules": true,
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "arrowFunctions": true,
      "binaryLiterals": true,
      "blockBindings": true,
      "classes": true,
      "defaultParams": true,
      "destructuring": true,
      "experimentalObjectRestSpread": true,
      "jsx": true,
      "spread": true,
      "superInFunctions": true,
      "templateStrings": true,
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
  },
  "extends": "eslint:recommended"
}
